<!DOCTYPE html>
<html>
    
<head>
	<title>Password Reset</title>
	

	<style type="text/css">
		html, body{
			height: 100%;
		}
	
		#page-wrapper{
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color:  #7abecc !important;
		}
	
		#success-box{
			max-width: 800px;
			height: auto;
			background-color: #74cfbf;
			border:1px solid #888;
			border-radius: 5px;
			padding: 15px;
		}
	
		#success-box p{
			font-size: 18px;
		}
	
	</style>
	
</head>
<body>
	<div id="page-wrapper">
		<div id="success-box" class="content-block">
			<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
				If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
			<a id="back-btn" class="btn btn-success" href="{% url 'home' %}">BACK TO HOME PAGE</a>
		</div>
	</div>
</body>

</html>